In [9]:
import csv
import pandas as pd

Reading data for the demographics of workers who annotated comments for the toxicity data set.   
[Link to dataset](https://figshare.com/articles/Wikipedia_Talk_Labels_Toxicity/4563973?file=7640581)

In [10]:
toxicity_worker_demographics = pd.read_csv("toxicity_worker_demographics.tsv", sep='\t')

In [11]:
toxicity_worker_demographics

      worker_id  gender  english_first_language age_group  education
0            85  female                       0     18-30  bachelors
1          1617  female                       0     45-60  bachelors
2          1394  female                       0       NaN  bachelors
3           311    male                       0     30-45  bachelors
4          1980    male                       0     45-60    masters
...         ...     ...                     ...       ...        ...
3586       3189  female                       0     18-30  bachelors
3587       1105  female                       0     18-30  bachelors
3588       2192  female                       1  Under 18         hs
3589       2692  female                       0     30-45         hs
3590       4160    male                       0     45-60  bachelors

[3591 rows x 5 columns]

## Code to get percentage distributations for different demographic factors

In [12]:
toxicity_worker_demographics.groupby('age_group').agg('count')['worker_id']/toxicity_worker_demographics.count()['worker_id']*100

age_group
18-30       51.851852
30-45       34.725703
45-60        8.242829
Over 60      0.835422
Under 18     2.199944
Name: worker_id, dtype: float64

In [13]:
toxicity_worker_demographics.groupby('gender').agg('count')['worker_id']/toxicity_worker_demographics.count()['worker_id']*100

gender
female    35.171261
male      64.800891
other      0.027847
Name: worker_id, dtype: float64

In [14]:
toxicity_worker_demographics.groupby('education').agg('count')['worker_id']/toxicity_worker_demographics.count()['worker_id']*100

education
bachelors       40.128098
doctorate        1.141743
hs              28.571429
masters         15.204678
none             0.083542
professional    12.280702
some             2.589808
Name: worker_id, dtype: float64

In [15]:
toxicity_worker_demographics.groupby('english_first_language').agg('count')['worker_id']/toxicity_worker_demographics.count()['worker_id']*100

english_first_language
0    81.453634
1    18.546366
Name: worker_id, dtype: float64