# Toxicity Dataset

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
demographic_worker = pd.read_csv('~/Desktop/toxicity_worker_demographics.tsv',  sep = '\t')
annotated_comments = pd.read_csv('~/Desktop/toxicity_annotated_comments.tsv',  sep = '\t')
annotations = pd.read_csv('~/Desktop/toxicity_annotations.tsv',  sep = '\t')

In [44]:
annotated_comments

,rev_id,comment,year,logged_in,ns,sample,split
0,2232.0,This:NEWLINE_TOKEN:One can make an analogy in ...,2002,True,article,random,train
1,4216.0,`NEWLINE_TOKENNEWLINE_TOKEN:Clarification for ...,2002,True,user,random,train
2,8953.0,Elected or Electoral? JHK,2002,False,article,random,test
3,26547.0,`This is such a fun entry. DevotchkaNEWLINE_...,2002,True,article,random,train
4,28959.0,Please relate the ozone hole to increases in c...,2002,True,article,random,test
...,...,...,...,...,...,...,...
159681,699848324.0,`NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENThese ...,2016,True,article,blocked,train
159682,699851288.0,NEWLINE_TOKENNEWLINE_TOKENThe Institute for Hi...,2016,True,article,blocked,test
159683,699857133.0,NEWLINE_TOKEN:The way you're trying to describ...,2016,True,article,blocked,dev
159684,699891012.0,NEWLINE_TOKENNEWLINE_TOKEN== Warning ==NEWLINE...,2016,True,user,blocked,train
159685,699897151.0,Alternate option===NEWLINE_TOKENIs there perha...,2016,True,article,blocked,test

In [33]:
demographic_worker

      worker_id  gender  english_first_language age_group  education
0            85  female                       0     18-30  bachelors
1          1617  female                       0     45-60  bachelors
2          1394  female                       0       NaN  bachelors
3           311    male                       0     30-45  bachelors
4          1980    male                       0     45-60    masters
...         ...     ...                     ...       ...        ...
3586       3189  female                       0     18-30  bachelors
3587       1105  female                       0     18-30  bachelors
3588       2192  female                       1  Under 18         hs
3589       2692  female                       0     30-45         hs
3590       4160    male                       0     45-60  bachelors

[3591 rows x 5 columns]

In [34]:
len(demographic_worker.worker_id.unique())

3591

In [36]:
demographic_worker.gender.value_counts('female')

male      0.648009
female    0.351713
other     0.000278
Name: gender, dtype: float64

In [38]:
demographic_worker.gender.unique()

array(['female', 'male', 'other'], dtype=object)